<div class="container">
  <h1>Angular with Keycloak</h1>
  <button (click)="logMyInfo()" class="one">Log user's info</button>
  <button (click)="logMyInfo1()" class="two">Log keycloak profile</button>
  <button (click)="logMyInfo2()" class="three">Log Roles</button>
  <button (click)="logMyInfo3()" class="four">Log Token</button>
  <button (click)="getSkills()" class="five">Bring skills from Irisws</button>
</div>
<body>
  <div *ngIf="skills">
    <table>
      <tr>
        <th>ID</th>
        <th>NAME</th>
      </tr>
      <tr *ngFor="let skill of skills">
        <td>{{ skill.id_skill }}</td>
        <td>{{ skill.name }}</td>
      </tr>
    </table>
  </div>
</body>
<footer>
  <button (click)="logout()">Logout</button>
</footer>
